/composer.lock
/Config/database.php
/tmp
/Config/configs_private.php
_*
/Vendor/autoload.php
/Vendor/composer
/Vendor/cakephp
/Vendor/bin
/Vendor/phpunit
/Vendor/symfony
/Plugin/DebugKit
/Plugin/Setup
/Plugin/CodeSniffer
/Plugin/Tools
/Plugin/Authenticate
/Plugin/Search
