/composer.lock
/config/database.php
/tmp
/logs
/config/configs_private.php
_*
/vendor/autoload.php
/vendor/composer
/vendor/cakephp
/vendor/bin
/vendor/phpunit
/vendor/symfony
/plugins/DebugKit
/plugins/Setup
/plugins/CodeSniffer
/plugins/Tools
/plugins/FOC
/plugins/Search
/plugins/Geo
/plugins/TinyAuth
/vendor/aura
/vendor/d11wtq
/vendor/doctrine
/vendor/ircmaxell
/vendor/mobiledetect
/vendor/nesbot
/vendor/phpdocumentor
/vendor/phpspec
/vendor/psr
/vendor/sebastian
/config/app_local.php
